*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Press Start 2P", system-ui;
  color: #fff;
  background-color: rgb(27, 51, 76);
}

ul {
  list-style: none;
}

.App {
  overflow: hidden;
  /* height: 100vh; */
}

.nav_link {
  text-decoration: none;
}

/* --------------------- */

.navigation {
  position: fixed;
  bottom: 1%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid #165188;
  padding-top: 10px;
}

.nav_link {
  text-align: center;
  width: 60px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
}

.nav_link.active {
  background: rgba(61, 70, 80, 0.77);
}

.nav_image {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.nav_text {
  font-size: 9px;
  font-weight: 400;
  line-height: 8px;
  color: #0A559B;
}